<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harry.customandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="example" android:host="harry" />
            </intent-filter>
        </activity>
        <activity android:name=".tabs.widgets.expand.ExpandActivity" />
        <activity android:name=".tabs.widgets.imageEdit.ImageEditActivity" />
        <activity android:name=".tabs.widgets.clearEditText.ClearEditTextActivity" />
        <activity android:name=".tabs.develop.alarm.AlarmActivity" />
        <activity android:name=".tabs.develop.timeline.TimelineActivity" />
        <activity android:name=".tabs.develop.circleImage.CircleActivity" />
        <activity android:name=".tabs.develop.dagger.DaggerActivity" />
        <activity android:name=".tabs.develop.customView.CustomViewActivity" />
        <activity android:name=".tabs.develop.xmlParse.XmlParseActivity" />
        <activity android:name=".tabs.develop.wave.WaveActivity" />
        <activity android:name=".tabs.develop.greendao.GreenDaoActivity" />
        <activity android:name=".tabs.develop.circleProgress.CircleProgressActivity" />
        <activity android:name=".tabs.develop.ping.PingActivity" />
    </application>
</manifest>